* {
    /* background-color: #101010; */
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  
}

@media (max-width : 500px){
    *{
        /* width: 100%; */
    }
}

img{
    object-fit: cover; 
}
a {
    text-decoration: none;
    color: rgb(102, 102, 102);
}

p{
    font-weight: 300;
}
li{
    list-style: none;
}

header {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    /* position: absolute; */
    align-items: center;
    /* padding: 0px 30px; */
    height: 10%;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 2;
    overflow: hidden;
}
  
header nav {
    display: flex;
    /* margin-right: 10%; */
    /* align-items: center; */
}

header h3{
    font-size: 2.5rem;
    /* flex-grow: 1;  */
    /* height: 10px; */
    /* line-height: 20px; */
    /* display: flex; */
   margin-right: 60%;  
   color: #eb3939;
}

nav {
    margin-left: -40%;
}

header nav li{
    font-size: 15px;
    /* margin: 40px; */
    opacity: 0.9;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-weight: 600;
}

a:hover {
    color: #eb3939;
    opacity: 1;
}
header nav li:hover{
    opacity: 1;
}

.navbar {
    padding: 8px 0 8px 0;
    visibility: hidden;
}

@media (min-width : 800px){
    .navbar{
        visibility: visible;
    }
}

.heading-div{
   
    width: 100%;
    text-align: center;
}

.main-heading-text {
    color: white;
    font-family: 'Audiowide', sans-serif;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    opacity: 0;
    font-weight: 900;
    transform: translate(-50%, -50%);
    animation: 1s slidefade 0.4s forwards;
}

.main-heading-quote{
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 60%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    animation: 1s slidefade 0.4s forwards;
}

@media (max-width : 500px){
    .main-heading-text{
        font-size: 30px;
    }
    .main-heading-quote{
        font-size: 10px;
        padding-top: 40px;
    }
    .circle-icon{
        display: none;
    }
    .button-div{
        display: none;
    }
    .game-company-image{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .blog-para{
        display: none;
    }
    .para-col{
        display: block;
        text-align: center;
        padding: 15px;
    }
    .para-col-div{
        padding-bottom: 20px;
    }
    .blank-color-box2{
        display: none;
    }
    .overlay-part{
        display: none;
    }
    .column-main-div{
        display: flex;
        flex-direction: column;
    }
    .column1{
        display: contents;
        height: 100px;
        font-size: 12px;
    }
}


@media screen and ( min-width: 550px){
    .game-company-image{
        margin: 0 60px 0 60px;
    }
    .item{
        flex-basis: 30%;
    }
    .blog-fig{
        flex-basis: 40%;
    }
    .blog-img{
        flex-basis: 30%;
        float: left;
    }
    .para-col{
        display: flex;
        margin: 0px 70px 0 70px;
    }
    .form{
        width: 40%;
    }
   .column1{
       width: 20%;
   }
}

@keyframes slidefade {
    100%{
        opacity: 1;
        margin: 0;
    }
}

.main-image {
    /* margin-left: 20%; */
    /* height: 50%;
    width: 70%; */   
    position: relative;
    padding-top: 5%; 
    height: 80%;
    overflow: hidden;
}

.header-img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-position: center;
    z-index: -1;
    
}

.main-btn{
    padding:15px;
    background-color: rgba(134, 134, 134, 0.144);
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    opacity: 0.85;
    border: none;
    color: cornsilk;
    animation: 1s slidefade 0.4s forwards;
    opacity: 0;
}

.main-btn:hover {
    background-color: #eb3939 ;   
}

.about {
    text-align: center;
    color: #eb3939;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-top: 7%;
}

.paragraph {
    font-family: 'Ubuntu', sans-serif;
}

.para1 {
    text-align: center;
    color: #eb3939;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 3% 0 2% 0;
    font-weight: 600;
}

.para1-hr {
    width: 30%;
    color: #eb3939;
    opacity: 0.7;
    margin: auto;
}

.para2 {
    text-align: center;
    color: #eb3939;
    font-size: 1.2rem;
    padding-top: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-weight: 700;
}

.para3 {
    text-align: center;
    color: #eb3939;
    font-size: 1rem;
    padding: 20px 0 80px 0;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-weight: 800;
}

.circle-icon{
    padding-bottom: 40px;
}
.circle-block figure {
    margin: 0;
}

.circle-caption{
    text-align: center;
    font-weight: 800;
}
.circle-block {
    /* margin: 10% 10% 0 10%; */
    padding-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.circle {
    border-radius: 50%;
    /* background-color: #eb3939; */
    display: inline-block;
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 50px;
    /* display: flex; */
    justify-content: space-around;
    flex-direction: column;
    border: 3px solid #eb3939;
}

.circle:hover {
    background-color: #eb3939;
    transition: 0.2s ease-in;
    cursor: pointer;
}
.circle-text-div{
    align-items: center;
    display: flex;
    justify-content: center;
}

.circle-text {
    display: inline-block;
    justify-content: space-around;
    flex-direction: column;
    font-size: 13px;
    padding: 0px 90px 0px 50px;
    margin: 0;
}

.fa-4x{
    margin: 15px 0 10px 15px;
}

.blank-color-area{
    padding-top: 30px;
    background-color: #eb3939;
    height: 300px;
    width: 100%;
}

.blank-color{
    margin-top: 30px;
}

.btn-options {
    /* align-items: center; */
    display: flex;
    justify-content:center;
    /* margin: 0 70px 0 70px; */
    width: 100%;
    padding: 10px 40px 0 0px;
  
}

.btn-option {
    margin: 20px 30px 20px 30px;
    padding:10px;
    width: 200px;
    cursor: pointer;
    border: 2px solid #eb3939;
    outline: none;
    border-radius: 9px;
    color: #eb3939;
    font-weight: 800;
    font-size: 1rem;
    background-color: white;
   
}

.btn-option:hover {
    background-color: #eb3939;
    transition: 0.2s ease-in;
    color: white;
}

.game-company-image{
    align-items: center;
    display: flex;
    padding-top: 1%;
    justify-content:center;
    overflow: hidden;
    margin: 0;
}

.company-image{
    height: 250px;
    width: 350px;
    overflow: hidden;
    margin: 20px 1% 20px 1%;
    padding:0px;
    border-radius: 1%;
    box-shadow: 5px 5px 5px rgba(134, 134, 134, 0.61);
    /* -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 1s; */
  
}

.company-image:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 1s;
}

.review-item {
    display: flex;
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    /* position: relative; */
    justify-content: center;
    
}

.item {
    /* flex: 1 0 21%;
    margin: 5px;
    height: 100px; */
    /* flex-basis: 30%; */
    margin: 40px;
    border: 2px solid rgba(100, 100, 100, 0.212);
    border-radius: 1%;
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(134, 134, 134, 0.144);
}

.item:hover{
    background-color: #eb3939;
    color: white;
    transition: 0.2s ease-in;
    box-shadow: 5px 5px 10px rgba(94, 94, 94, 0.733);
}

.owner-name{
    font-weight: 600px;
}

.owner-post{
    font-weight: 100px;
    padding-bottom: 10px;
}

.view {
    margin-top: -40px;
}

.blog-items{
    /* display: flex; */
    /* position: relative; */
    /* justify-content: center;
    flex-basis: 50%; */
    /* flex-direction: row; */
    display: flex;
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    /* position: relative; */
    justify-content: center;
   
}

.blog-fig {
    /* display: flex;
    margin: 20px; */
    /* flex-basis: 40%; */
    margin: 40px;
    /* flex-basis: 30%; */
    border-radius: 3%;
   padding: 10px;
   background-color: rgba(221, 221, 221, 0.473);
   box-shadow: 5px 5px 10px rgba(94, 94, 94, 0.493);
} 

.blog-img{
    height: 200px;
    width: 250px;
   
    /* margin: 40px; */
    
    border-radius: 5%;
   margin-right: 20px;
   
}

.blog-fig-caption {
    padding-top: 50px;
}

.blog-a{
    text-align: left;
    font-weight: 900;
}

.blog-para{
    text-align: left;
    position: absolute;
    width: 20%;
    padding-top: 10px;
  
}

.para-col{
    flex-direction: row;
    padding-bottom: 7%;
}

.part{
    font-weight: 800;
    text-align: center;
}

.part-hr {
    width: 90%;
    margin: 10px 0 10px 0;
    align-items: center;
}

.para-part{
    width: 90%;
}

.blank-color-box2{
    background-color: rgba(238, 238, 238, 0.938);
    height: 480px;
    overflow: hidden;
}

.image-on-blank{
    align-items: center;
    display: flex;
    padding-top: 1%;
    justify-content:center;
    overflow: hidden;
    margin: 0 60px 0 60px;
}

.image-b2{
    height: 200px;
    width: 300px;
    overflow: hidden;
    margin: 20px 1% 20px 1%;
    padding:0px;
    border-radius: 1%;
    margin-bottom: 50px;
    box-shadow: 5px 5px 5px rgba(134, 134, 134, 0.61);
}

.image-hover-div{
    /* position: relative; */
    display: flex;
    /* flex-flow: row wrap; */
    /* position: relative; */
    justify-content: center;
    overflow: hidden;
    padding: 20px 0 40px 0;
    flex-flow: row wrap;
    width: 100%;
    margin: 0;
}

.hover-content{
    display: flex;
    position: relative;
    width: 600px;
    height: 500px;
    float: left;
    margin: 30px;
    padding: 10px;
    border-radius: 2%;
    border: 1px solid rgba(134, 134, 134, 0.144);
    box-shadow: 5px 5px 5px rgba(94, 94, 94, 0.301);
    overflow: hidden;
}

.hover-content div{
    flex-basis: 30%;
    margin: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
   
    background: #eb3939;
    color: white;
    margin-bottom: 40px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition-duration: 1s;
}

.hover-content:hover{
    cursor: pointer;
   
}

.hover-content:hover div{
    width: 70%;
    padding: 60px 60px;
    visibility: visible;
    opacity: 1; 
 
}

.form{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 20px;
}

input,  textarea {
    padding: 12px;
    margin: 8px;
    border-radius: 6px;
    border: 1px solid rgba(134, 134, 134, 0.445);
    font-size: 1rem;
}

.submit-btn{
    padding: 10px;
    font-size: 1.2rem;
    color: #eb3939;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    width: 20%;
    border-radius: 6px;
    border: 2px solid #eb3939;
    background-color: white;
    font-weight: 700;
    cursor: pointer;

}

.submit-btn:hover {
    background-color: #eb3939;
    color: white;
    transition: 0.2s ease-in;
}

footer{
    overflow: hidden;
    height: 590px;
    margin-top: 30px;
    padding-bottom: 30px;
    background-color: teal;
    
    /* display: flex;
    justify-content: space-around; */
}

.column-main-div{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.footer-item{
    padding: 2px;
    overflow: hidden;
}
footer li a{
    color: white;
    overflow: hidden;
}

footer li a:hover{
    color: rgb(251, 255, 0);
}
.footer-item:hover{
  
   border-bottom: 1px solid rgb(235, 235, 235);
   overflow: hidden;
}

.column1 {
    margin: 40px 0 0 0;
    padding: 20px 60px 20px 60px;
    
}

.col{
    padding: 10px 15px 35px 15px;
}

.col-header{
    font-size: 1em;
    font-weight: 900;
    color: white;
    /* border: 2px solid white; */
   
    box-shadow: -2px 2px rgba(252, 252, 252, 0.534);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.copyright-footer{
    height: 40px;
    overflow: hidden;
    background-color: tomato;
    margin-bottom: 0;
}